@model Member

<div class="member-card surface" data-search="@((Model.FirstName ?? "")) @((Model.LastName ?? " "))">
	@await Html.PartialAsync("Partials/Components/_MemberOptionsModal", Model)
	<button class="edit-btn" data-toggle="true" data-target=@("#memberOptionsModal-" + Model.Id)></button>

	<img class="member-img" src="@(!string.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "/images/DefaultProfile.png")" alt="" />

	<h4>@(Model.FirstName != null ? Model.FirstName : Html.Raw("&nbsp;")) @(Model.LastName != null ? Model.LastName : Html.Raw("&nbsp;"))</h4>

	<span class="job-title">@(Model.JobTitle != null ? Model.JobTitle.Title : "No title")</span>

	<span>@Model!.Email</span>

	<span>@(Model.PhoneNumber != null ? Model.PhoneNumber : "No phone number")</span>

	<button class="btn gray" onclick="alert('Hi')">Message</button>
</div>