@model Member

<div class="member-card surface">
	@await Html.PartialAsync("Partials/Components/_MemberOptionsModal", Model)
	<button class="edit-btn" data-modal="true" data-toggle="true" data-close="false" data-target="#memberOptionsModal"></button>

	<img src="@(Model.ImageUrl != null ? Model.ImageUrl : "")" alt="" />

	<h4>@(Model.FirstName != null ? Model.FirstName : Html.Raw("&nbsp;")) @(Model.LastName != null ? Model.LastName : Html.Raw("&nbsp;"))</h4>

	<span class="job-title">@(Model.JobTitle != null ? Model.JobTitle : "No title")</span>

	<span>@Model!.Email</span>

	<span>@(Model.PhoneNumber != null ? Model.PhoneNumber : "No phone number")</span>

	<button class="btn gray" onclick="alert('Hi')">Message</button>
</div>