@{
	var memberId = User.FindFirstValue(ClaimTypes.NameIdentifier) ?? "anon";
	var notifications = await _notificationService.GetNotificationsAsync(memberId);
	notifications = notifications.OrderByDescending(x => x.Created);
}

<button id="notifications-btn" class="btn notifications-btn @(notifications.Any() ? "not-empty" : "")" data-toggle="true" data-target="#notificationsModal"></button>

<div id="notificationsModal" class="modal">
	<div class="modal-content surface">
		<div class="modal-header">
			<h5>Notifications</h5>
			<span class="notification-counter">@notifications.Count()</span>
		</div>

		<hr />

		<div class="notification-group">
			@foreach (var n in notifications)
			{
				<div class="notification" data-id="@n.Id">
					<img @(!string.IsNullOrEmpty(n.Icon) ? $"src={n.Icon}" : "") alt="" />
					<span class="message">@n.Message</span>
					<span class="time" data-created=@n.Created.ToString("s")>@n.Created</span>
					<button type="button" class="btn-close" onclick="dismissNotification('@n.Id')"></button>
				</div>
			}
		</div>
	</div>
</div>

@await Html.PartialAsync("_NotificationScript")