@model ProjectModel

@{
	IEnumerable<Status> statuses = [];
	IEnumerable<Client> clients = [];
	IEnumerable<Member> projectMembers = [];
	var statusResult = await _statusService.GetAllAsync();
	if (statusResult.Success)
		statuses = statusResult.Results!;
	var clientResult = await _clientService.GetAllAsync();
	if (clientResult.Success)
		clients = clientResult.Results!;
	if (Model.Members != null && Model.Members.Any())
		projectMembers = Model.Members;
}
<div class="form-group">

	<span class="submit-error"></span>

	<input asp-for="Id" type="hidden" />
	<input asp-for="ImageUrl" type="hidden" />
	<div class="file-group">
		<div class="image-previewer square@(Model.ImageUrl != null ? " selected" : "")">
			<img src="@(Model.ImageUrl ?? "")" class="image-preview" />
			<input asp-for="ProjectImage" accept="image/*" />
		</div>
	</div>
	<div class="input-group">
		<label asp-for="ProjectName"></label>
		<input class="input" asp-for="ProjectName" />
		<span asp-validation-for="ProjectName"></span>
	</div>
	<div class="input-group">
		<label asp-for="ClientId"></label>
		<select class="input" asp-for="ClientId">
			<option disabled selected value="" class="placeholder">-- Select client --</option>
			@foreach (var client in clients)
			{
				<option value="@client.Id">@client.Name</option>
			}
		</select>
		<span asp-validation-for="ClientId"></span>
	</div>
	<div class="input-group">
		<label asp-for="StatusId"></label>
		<select class="input" asp-for="StatusId">
			<option disabled selected value="" class="placeholder">-- Select status --</option>
			@foreach (var status in statuses)
			{
				<option value="@status.Id">@status.StatusName</option>
			}
		</select>
		<span asp-validation-for="StatusId"></span>
	</div>
	<div class="input-group">
		<label asp-for="Description"></label>
		<div class="wysiwyg-editor" data-id="@Model.Id">
			<textarea class="hidden" asp-for="Description"></textarea>
			<div id=@("project-wysiwyg-editor-" + Model.Id)></div>
			<div id=@("project-wysiwyg-toolbar-" + Model.Id)>
				<span class="ql-formats">
					<button class="ql-bold"></button>
					<button class="ql-italic"></button>
					<button class="ql-underline"></button>
				</span>
				<span class="ql-formats">
					<button class="ql-align" value=""></button>
					<button class="ql-align" value="center"></button>
					<button class="ql-align" value="right"></button>
				</span>
				<span class="ql-formats">
					<button class="ql-list" value="ordered"></button>
					<button class="ql-list" value="bullet"></button>
					<button class="ql-link"></button>
				</span>
			</div>
		</div>
	</div>
	<div class="date-group">
		<div class="input-group">
			<label asp-for="StartDate"></label>
			<input class="input" asp-for="StartDate" />
			<span asp-validation-for="StartDate"></span>
		</div>
		<div class="input-group">
			<label asp-for="EndDate"></label>
			<input class="input" asp-for="EndDate" />
			<span asp-validation-for="EndDate"></span>
		</div>
	</div>
	@if (projectMembers.Count() > 0)
	{
	<div class="member-group">
		<label asp-for="MemberIds"></label>
		<div class="member-input input">
			@foreach (var member in projectMembers)
			{
				<label>
					<img src=@(!string.IsNullOrEmpty(member.ImageUrl) ? member.ImageUrl : "/images/DefaultProfile.png") />
					<input type="checkbox" id=@member.Id value=@member.Id name="MemberIds" />
					@member.FirstName @member.LastName
				</label>
			}
		</div>
	</div>
	}
	<div class="input-group">
		<label asp-for="Budget"></label>
		<span class="currency-icon">
			<input class="input" asp-for="Budget" />
		</span>
		<span asp-validation-for="Budget"></span>
	</div>
</div>

@await Html.PartialAsync("_ValidationScript")
@await Html.PartialAsync("_Wysiwyg")