@model Project

<div class="project-card surface">
	@await Html.PartialAsync("Partials/Components/_ProjectOptionsModal", Model)
	<button class="edit-btn" data-modal="true" data-toggle="true" data-close="false" data-target="#projectOptionsModal"></button>
	<div class="card-header">
		<img src="@(Model.ImageUrl != null ? Model.ImageUrl : "")" alt="project image"/>
		<h6 class="project-name">@Model.ProjectName</h6>
		<span class="project-client">@Model.Client.Name</span>
	</div>
	<p class="card-description">@(Model.Description != null ? Model.Description : "My description")</p>
	<div class="card-footer">
		<span class="deadline soon">soon&trade;</span>
		<div class="member-group">
			@* @foreach(var member in Model.Members) *@
			@* { *@
			@* 	<img src="@(member.ImageUrl != null ? member.ImageUrl : "")" alt="member profile image" /> *@
			@* } *@
			<img src="" alt="member profile image" />
			<img src="" alt="member profile image" />
		</div>
	</div>
</div>