@model Project

<div class="project-card surface" status="@Model.Status.StatusName" data-search="@Model.ProjectName">
	@await Html.PartialAsync("Partials/Components/_ProjectOptionsModal", Model)

	<button class="edit-btn" data-toggle="true" data-target=@("#projectOptionsModal-" + Model.Id)></button>

	<div class="card-header">
		<img class="project-img" @(Model.ImageUrl != null ? $"src = {Model.ImageUrl}" : "") alt="" />
		<h6 class="project-name">@Model.ProjectName</h6>
		<span class="project-client">@Model.Client.Name</span>
	</div>

	<div class="card-description">
		@(string.IsNullOrEmpty(Model.Description) || Model.Description == "<p><br></p>" ? Html.Raw("<p>No description</p>") : Html.Raw(Model.Description))
	</div>

	<div class="card-footer">
		<span class="deadline" data-deadline="@Model.EndDate" data-complete="@(Model.Status.StatusName == "Completed")"></span>

		<div class="member-group">
			@if (Model.Members != null && Model.Members.Any())
			{
				foreach(var member in Model.Members)
				{
					<img class="member-img" src=@(!string.IsNullOrEmpty(member.ImageUrl) ? member.ImageUrl : "/images/DefaultProfile.png") alt="@member.FirstName @member.LastName" />
				}
			}
		</div>
	</div>
</div>
